.header {
  display: flex;
  font-size: 2em;
  background-color: forestgreen;
  height: 20vh;
  width: 100%;
  align-items: center;
  margin: 0;
}

.subHeader {
  background-color: red;
  margin:0;
}

.subsubHeader {
  background-color: blue;
}
